<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Eat Your Feelings</h1>
    <h3>The quiz to save your life</h3>
    <h5>(food-wise)</h5>
    <img src="https://cdn2.iconfinder.com/data/icons/food-drinks-v3/512/Hamburger__soft_drink-512.png">
    <br>
    <a href="/quiz"> GET STARTED!</a>
   </body>
</html>

