<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Feeling Hungry?</h1>
    <h3>The quiz to save your life</h3>
    <h5>(food-wise)</h5>
    <br>
    <a href="http://allierae-pc-15-precollege-se1-chi-062215-1-108302.nitrousapp.com:3000/quiz"> GET STARTED!</a>
   </body>
</html>