<!doctype html>
<html>
  <head>
    <title>Quiz</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Eat Your Feelings</h1>
    <div class="questions">
    <form action="/quiz-results" method="POST">
      <p>How has your day been? On a scale of 1 to 4, 1 being poopy and 4 being epic?</p>
        <input class="question" type="radio" name="question1" value="1">1 
        <br>
        <input class="question" type="radio" name="question1" value="2">2
        <br>
        <input class="question" type="radio" name="question1" value="3">3
        <br>
        <input class="question" type="radio" name="question1" value="4">4
        <br>
        <br>
<!-- Question 2 -->
      <p>How rich are you feeling today?</p>
      <input class="question" type="radio" name="question2" value="1">Nearly Homeless
      <br>
      <input class="question" type="radio" name="question2" value="2">College Student
      <br>
      <input class="question" type="radio" name="question2" value="3">We're getting there
      <br>
      <input class="question" type="radio" name="question2" value="4">Can I have food delivered to my yacht?
      <br>
<!-- Question 3 -->
      <p>How many mouths do you have to feed?</p>
      <input class="question" type="radio" name="question3" value="1">Just me
      <br>
      <input class="question" type="radio" name="question3" value="2">2-3
      <br>
      <input class="question" type="radio" name="question3" value="3">4-5
      <br>
      <input class="question" type="radio" name="question3" value="4">6+
      <br>
<!-- Question 4 -->
      <p>How's your outfit game today?</p>
      <input class="question" type="radio" name="question4" value="1">Groutfit Central
      <br>
      <input class="question" type="radio" name="question4" value="2">Extremely average
      <br>
      <input class="question" type="radio" name="question4" value="3">Got my good jeans on
      <br>
      <input class="question" type="radio" name="question4" value="4">I AM BEYONCE
      <br>
<!-- Question 5 -->
      <p>What's your favorite subject?</p>
      <input class="question" type="radio" name="question5" value="1">Math
      <br>
      <input class="question" type="radio" name="question5" value="2">English
      <br>
      <input class="question" type="radio" name="question5" value="3">History
      <br>
      <input class="question" type="radio" name="question5" value="4">Art
      <br>
<!-- Question 6 -->
      <p>What kind of sandwich would you be?</p>
      <input class="question" type="radio" name="question6" value="1">PB and J :( 
      <br>
      <input class="question" type="radio" name="question6" value="2">BLT
      <br>
      <input class="question" type="radio" name="question6" value="3">Burger with everything on it
      <br>
      <input class="question" type="radio" name="question6" value="4">Ice cream sandwich, duh
<br>
<!-- Question 7 -->
      <p>When was the last time you were at the DMV?</p>
      <input class="question" type="radio" name="question7" value="1">I don't own a car
      <br>
      <input class="question" type="radio" name="question7" value="2">2 hours ago
      <br>
      <input class="question" type="radio" name="question7" value="3">Last Month
      <br>
      <input class="question" type="radio" name="question7" value="4">More than a year ago
      <br>
<!-- Question 8 -->
      <p>What kind of house do you live in?</p>
      <input class="question" type="radio" name="question8" value="1">Shack
      <br>
      <input class="question" type="radio" name="question8" value="2">Apartment
      <br>
      <input class="question" type="radio" name="question8" value="3">House
      <br>
      <input class="question" type="radio" name="question8" value="4">Mansion
      <br>
<!-- Question 9 -->
      <p>Relationship status?</p>
      <input class="question" type="radio" name="question9" value="1">At least my ice cream loves me
      <br>
      <input class="question" type="radio" name="question9" value="2">You bet, I'm mingling!
      <br>
      <input class="question" type="radio" name="question9" value="3">Date night with Bae
      <br>
      <input class="question" type="radio" name="question9" value="4">Married Happily Ever After
      <br>
<!-- Question 10 -->
      <p>Which is your favorite celebrity couple?</p>
      <input class="question" type="radio" name="question10" value="1">Kimye
      <br>
      <input class="question" type="radio" name="question10" value="2">Bey-Z
      <br>
      <input class="question" type="radio" name="question10" value="3">Mila Kunis and Ashton Kutcher
      <br>
      <input class="question" type="radio" name="question10" value="4">Brangelina
      <br>
<!-- Question 11 -->
      <p>What kind of pet owner are you?</p>
      <input class="question" type="radio" name="question11" value="1">Give me a second to count my cats...
      <br>
      <input class="question" type="radio" name="question11" value="2">Fish. That's it.
      <br>
      <input class="question" type="radio" name="question11" value="3">My pet is exotic. Just like me. 
      <br>
      <input class="question" type="radio" name="question11" value="4">You can call me a dog's best friend.
      <br>
<!-- Question 12 -->
      <p>Which Taylor Swift lyric best describes you?</p>
      <input class="question" type="radio" name="question12" value="1">I'm a crumpled up piece of paper lying here. 
      <br>
      <input class="question" type="radio" name="question12" value="2">I got that read lip classic thing that you like.
      <br>
      <input class="question" type="radio" name="question12" value="3">Cause darling, I'm a nightmare dressed like a daydream.
      <br>
      <input class="question" type="radio" name="question12" value="4">We were 17 and crazy running wild, wild.
      <br>
      <input type="submit">
      </form>
    </div>
   </body>
</html>

