<!doctype html>
<html>
  <head>
    <title>Results</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Eat Your Feelings</h1>
    <h3>Based on how your feeling, you should head on over to...</h3>
    <br>
    <a href="http://allierae-pc-15-precollege-se1-chi-062215-1-108302.nitrousapp.com:3000/"> Play Again! </a>
    
   </body>
</html>