<!doctype html>
<html>
  <head>
    <title>Results</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <h1>Eat Your Feelings</h1>
    <h3>Based on how your feeling, you should head on over to...</h3>
    <h2><%=@results.keys[0]%></h2>
    <br>
    <a href="/quiz"> Play Again! </a>
    <br>
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNv-I750wDlBmMicqTP4shzZMwTrDJcaE
       &q=<%=@results.values[0]%>" allowfullscreen>
</iframe>

   </body>
</html>