@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cuprum);

body {
  background-color: #232B2B;
}

h1 {
  text-align: center;
  font-family:"Lobster";
  color: #FF6262;
  width: 100%;
  font-size: 350%;
}

h3 {
  color: #7B8080;
  text-align: center;
  font-family:"Lobster";
  
}

h5{
  color: #7B8080;
  text-align: center;
  font-family:"Lobster";
  
}

a {
  text-decoration: none;
  text-align: center;
  font-family:"Lobster";
  display: block;
  margin: 0 auto;
  float: center;
  background-color: #E3AE57;
  color: #B68B46;
  width: 30%;
  font-size: 300%;
  border-radius: 5px;
}

img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.questions {
  color: #7B8080;
  text-align: left;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cuprum";
  font-size: 2em;
}

p {
  text-align: center;
  font-size: 115%;
  color: #19AC87;
}

h2 {
  color: #19AC87;
  text-align: center;
  font-family: "Lobster";
  font-size: 400%;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}









